<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Business
    </mat-panel-title>
  </mat-expansion-panel-header>

  <h3>Available Funds: ${{inventory.resources['currency'].current | number:'1.2'}}</h3>
  <h3>Unsold Inventory: {{inventory.resources['lightbulbs'].current | number:'1.0'}}</h3>
  <h3>Raw Materials: {{inventory.resources['scrap'].current | number:'1.0'}}</h3>
  
  <div class='col-xs-12'>
    <button class='btn btn-primary' *ngIf="cost > 0" (click)="cost = cost - 0.01">
      -
    </button>
    cost: {{cost | number:'1.2'}}
    <button class='btn btn-primary' (click)="cost = cost + 0.01">
      +
    </button>
  </div>
  <div class='col-xs-12'>
    demand: {{demand | number:'1.0-2'}}
  </div>

  <div class='col-xs-12'>

    Marketing
    <button class='btn btn-primary' (click)="marketing = marketing + 1">
      Upgrade
    </button>
    Level {{marketing | number:'1.0-2'}}
  </div>

</mat-expansion-panel>