<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Resources
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div>
    <div class='col-xs-12 col-md-3'>
      <button mat-raised-button class='col-xs-12 bg-green-500' (click)="Increment(1)">+1 Lightbulb
      </button>
      <br/>
    </div>

    <div class='col-xs-12 col-md-9'>
      <inventory-panel class='col-xs-12 col-md-6' [resource]="inventory.resources['lightbulbs']"></inventory-panel>
      <inventory-panel class='col-xs-12 col-md-6' [resource]="inventory.resources['glass']"></inventory-panel>
      <inventory-panel class='col-xs-12 col-md-6' [resource]="inventory.resources['wire']"></inventory-panel>
      
      
      <inventory-panel class='col-xs-12 col-md-6' [resource]="inventory.resources['currency']"></inventory-panel>
    </div>
    <worker-panel></worker-panel>
    <upgrade-panel [upgrade_list]="upgrade_list"></upgrade-panel>
  </div>
</mat-expansion-panel>