


<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Resources
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <div class="ui-g">
        <inventory-panel [resource]="resource"></inventory-panel>
            <button pButton  type="button" (click)="Increment(1)" label="Click">
            </button>
    </div>
    <inventory-panel  [resource]="inventory.resources['currency']"></inventory-panel>
    <worker-panel *ngIf="upgrades.owned_upgrades['LIGHTBULBWORKERS']" ></worker-panel>
    <upgrade-panel *ngIf="upgrades.owned_upgrades['100LIGHTBULBS']" [upgrade_list]="upgrade_list"></upgrade-panel>
  
  </mat-expansion-panel>



