<p-panel header="Market" [toggleable]="true" class='ui-g-12'>

    <div class='ui-g'>
        <p-panel [toggleable]="true" class='ui-g-6' *ngFor="let offer of offers">
            <p-header>
                <div class='ui-g-6'>{{offer.amount}} {{offer.buying}}</div>
            </p-header>
            <p-progressBar [showValue]='false' *ngIf="offer.cooldown > 1" [value]="((offer._cooldown-offer.cooldown)/offer._cooldown)*100"></p-progressBar>
            <div class='ui-g'>{{offer.cost}} {{offer.selling}} @ {{offer.cost_per | currency:'USD':true}} per</div>
            <p-footer class='ui-g'>
                <button class='ui-g-2' [disabled]="offer.cooldown > 0 || offer.amount > inventory.resources[offer.buying].current" pButton type="button" icon="fa-check"
                    (click)="Accept(offer)"></button>
            </p-footer>
        </p-panel>
    </div>


    <div class='ui-g'>
        <p-panel header="Specials" [toggleable]="true" class='ui-g-6' *ngFor="let offer of specials">
            <p-header>
                <div class='ui-g-10'>{{offer.amount}} {{offer.buying}}</div>
                <div class='ui-g-2'>{{offer.time}} </div>
            </p-header>
            <div class='ui-g'>{{offer.cost}} {{offer.selling}} @ {{offer.cost_per | currency:'USD':true}} per</div>
            <p-footer class='ui-g'>
                <button class='ui-g-2' [disabled]="offer.amount > inventory.resources[offer.buying].current" pButton type="button" icon="fa-check"
                    (click)="AcceptSpecial(offer)"></button>
                <button class='ui-g-2 ui-g-offset-7' pButton type="button" icon="fa-close" (click)="RejectSpecial(offer)"></button>
            </p-footer>
        </p-panel>
    </div>
</p-panel>