<div class="ui-g">
    <div class="ui-g-4">
        <button pButton type="button" (click)="StopClock()" label="Pause"></button>
    </div>
    <div class="ui-g-4">
        <button pButton type="button" (click)="StartClock()" label="Play"></button>
    </div>

    <div class="ui-g-4">
        <button pButton type="button" (click)="UltraSpeed()" label="Fast"></button>
    </div>

    <div class="ui-g-4">
        <button pButton type="button" (click)="NormalSpeed()" label="Normal"></button>
    </div>
</div>