<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Upgrades
        </mat-panel-title>
    </mat-expansion-panel-header>




    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Available
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngFor="let item of upgrade_list ">
            <mat-card *ngIf="upgrades.purchaseDependenciesMet(item)" class="col-xs-12 bg-grey-700">

                <div>{{item.name}}</div>
                <button class='col-xs-6 pull-right' [disabled]="!inventory.purchaseCostMet(item)" (click)="AddUpgrade(item)" mat-raised-button>{{item.cost_key}}: {{item.cost}}</button>
            </mat-card>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Purchased
            </mat-panel-title>
        </mat-expansion-panel-header>



        <mat-card class="col-xs-12 bg-grey-700">

            <mat-chip-list>
                <mat-chip *ngFor="let item of owned_upgrade_array">{{item.name}}</mat-chip>

            </mat-chip-list>


        </mat-card>

    </mat-expansion-panel>
</mat-expansion-panel>