<p-panel header="Upgrades" [toggleable]="true">
    <div class='ui-g'>
        <p-panel header="Available" [toggleable]="true" class='ui-g-6' *ngIf='upgrade_list.length>0'>
            <div *ngFor="let offer of upgrade_list" class='ui-g'>
                <div class='ui-g-8'>
                    <div></div>
                </div>
                <div class='ui-g'>
                    <button [disabled]='offer.cost > inventory.resources[offer.cost_resource_key].current' label="{{offer.name}} ({{offer.cost}} {{offer.cost_resource_key}})"
                        pButton type="button" (click)="AddUpgrade(offer)"></button>
                </div>
            </div>
        </p-panel>
        <p-panel header="Purchased" [toggleable]="true" class='ui-g-6' *ngIf='owned_upgrade_array.length>0'>
            <div *ngFor="let item of owned_upgrade_array" class="ui-g-1 bg-grey-500">
                <br/>
            </div>
        </p-panel>
    </div>
</p-panel>