<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Time
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class='pull-left'>
        <button mat-raised-button [class.bg-green-800]="clock_running" (click)="StartClock()">Play</button>
        <button mat-raised-button [class.bg-red-800]="!clock_running" (click)="StopClock()">Pause</button>
    </div>
    <div class='pull-right'>
        <button mat-raised-button [class.bg-orange-800]="tick_delay==1" (click)="StartClock(1)">1x</button>
        <button mat-raised-button [class.bg-orange-800]="tick_delay==10" (click)="StartClock(10)">10x</button>
        <button mat-raised-button [class.bg-orange-800]="tick_delay==100" (click)="StartClock(100)">100x</button>
    </div>
</mat-expansion-panel>